:root {
  --fig-white: #FFFFFF;
  --fig-bg-light: #F8F8F8;
  --fig-bg-blue-tint: #F6F8FF;
  --fig-success: #28C76F;
  --fig-primary-light: #CFDAFE;
  --fig-border: #B1B1B1;
  --fig-text-dark: #5E5873;
  --fig-text-muted: #9692A4;
  --fig-primary: #3666EE;
  --fig-bg-page: #F9FBFF;
  --fig-bg-subtle: #F6F6F6;
}
